<div class="c-interface">
  <div
    id="filtercontent"
    class="c-interface__content au-u-flex au-u-flex--column"
  >
    <AuContent class="au-o-flow au-o-flow--small">
      <section class="au-u-flex au-u-flex--between">
        <AuHeading
          @level="1"
          @skin="2"
          class="au-u-flex au-u-au-u-flex--center au-u-flex--vertical-center"
        >{{this.currentSession.groupClassification.label}}
          {{this.currentSession.group.name}}
          <AuPill
            @skin="success"
            class="au-u-margin-left-small"
          >Maturiteitsniveau:
            {{#if this.model.maturityLevel.isRunning}}
              aan het laden..
            {{else}}
              {{#if this.model.maturityLevel.value}}
                {{this.model.maturityLevel.value}}
              {{else}}
                is niet opgegeven.
              {{/if}}
            {{/if}}
          </AuPill>
        </AuHeading>
        {{! <AuButton>Exporteer rapport</AuButton> }}
      </section>
      <section class="au-u-flex au-u-flex--between au-u-margin-top-tiny">
        <p>
          De data voor de monitoringstool wordt verzameld uit de door lokale
          overheden gepubliceerde datasets.
        </p>
        <AuPill @skin={{this.pillSkin}} @icon="clock-rewind">Laatste harvesting
          {{#if this.lastHarvestingDateIsLoading}}
            aan het laden..
          {{else}}
            {{#if (date-format this.lastHarvestingDate)}}
              op
              {{date-format this.lastHarvestingDate}}
            {{else}}
              is niet opgegeven.
            {{/if}}
          {{/if}}
        </AuPill>
      </section>
      <div
        class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-padding-top"
      >
        <AuHeading @level="4" @skin="4">Publieke statistieken</AuHeading>
        <AuToggleSwitch
          @identifier="'toggle-list-grid'"
          @name="'view-toggle'"
          @checked={{this.checked}}
          @onChange={{this.handleToggle}}
          data-test-toggle-switch=""
        >Lijstweergave</AuToggleSwitch>
      </div>

      {{#if this.checked}}
        <ListView
          @data={{this.data}}
          @isLoading={{this.isLoading}}
          @lokaalBeslistUrl={{this.lokaalBeslistUrl}}
        />
      {{else}}
        <GridView
          @model={{this.model}}
          @currentSession={{this.currentSession}}
          @data={{this.data}}
          @isLoading={{this.isLoading}}
          @lokaalBeslistUrl={{this.lokaalBeslistUrl}}
        />
      {{/if}}

    </AuContent>

  </div>
  <FilterSidebar
    @id="filtersidebar"
    @class="c-interface__sidebar c-interface__sidebar--dialog {{if
      this.hasFilter
      'is-visible'
    }}"
  >
    <div class="c-interface__sidebar-close-button">
      <a
        href="#filtercontent"
        class="au-c-button au-c-button--naked"
        {{on "click" this.hideFilter}}
      >
        Terug
      </a>
    </div>
    <div
      class="au-u-flex au-u-flex--column au-u-flex--between au-u-flex--grow au-u-height-full"
    >
      <div class="c-interface__sidebar-main">
        <h3 class="au-u-h4 au-u-medium">Filters</h3>
        <Filters::DateRangeFilter
          @startQueryParam="begin"
          @endQueryParam="eind"
          @start={{this.plannedStartMin}}
          @end={{this.plannedStartMax}}
          @startValue={{this.begin}}
          @endValue={{this.eind}}
        />

      </div>
      <div class="c-interface__sidebar-footer">
        <ReportWrongData />
      </div>
    </div>
    <div class="c-interface__sidebar-submit-buttons">
      <AuButton @skin="primary" @width="block" {{on "click" this.hideFilter}}>
        Zoeken
      </AuButton>

      <a
        href="#filtercontent"
        class="au-c-button au-c-button--naked au-c-button--block"
        {{on "click" this.hideFilter}}
      >
        Annuleer
      </a>
    </div>
  </FilterSidebar>
</div>