<section
  class="au-u-1-1 au-u-flex au-u-flex--wrap@medium au-u-flex--spaced au-u-flex--between"
>
  {{! COLUMN 1 }}
  <div class="au-u-1-1 au-u-1-3@medium">
    <AuHeading
      @level="5"
      @skin="5"
      class="au-u-padding-bottom-tiny"
    >Zittingen</AuHeading>
    {{! Sessions }}
    <article
      class="au-u-background-gray-100 au-u-padding au-u-flex au-u-flex--column au-o-grid__item au-u-padding-top-small"
    >
      {{#each @data as |item|}}
        {{#if (eq item.type "Zittingen")}}
          <span class="au-u-flex au-u-flex--column">
            <p class="au-u-medium">{{item.label}}</p>
            <p class="au-u-h2">
              {{#if @isLoading}}
                <AuLoader @hideMessage={{true}}>Aan het laden</AuLoader>
              {{else}}
                <AuLinkExternal
                  @disabled={{not item.url}}
                  href={{item.url}}
                  class="au-u-h3 {{unless item.url 'no-link'}}"
                >
                  {{#if (eq item.valueType "number")}}
                    {{format-number item.value 0}}
                  {{else if (eq item.valueType "date")}}
                    {{date-format item.value}}
                  {{else}}
                    {{item.value}}
                  {{/if}}
                </AuLinkExternal>
              {{/if}}
            </p>
          </span>
        {{/if}}
      {{/each}}
    </article>
    {{! Votes }}
    <AuHeading
      @level="5"
      @skin="5"
      class="au-u-padding-top-small au-u-padding-bottom-tiny"
    >Stemmingen</AuHeading>
    <article
      class="au-u-background-gray-100 au-u-padding au-u-flex au-u-flex--column au-o-grid__item au-u-padding-top-small"
    >
      {{#each @data as |item|}}
        {{#if (eq item.type "Stemmingen")}}
          <span class="au-u-flex au-u-flex--column">
            <p class="au-u-medium">{{item.label}}</p>
            <p class="au-u-h2">
              {{#if @isLoading}}
                <AuLoader @hideMessage={{true}}>Aan het laden</AuLoader>
              {{else}}
                <AuLinkExternal
                  @disabled={{not item.url}}
                  href={{item.url}}
                  class="au-u-h3 {{unless item.url 'no-link'}}"
                >
                  {{#if (eq item.valueType "number")}}
                    {{format-number item.value 0}}
                  {{else if (eq item.valueType "date")}}
                    {{date-format item.value}}
                  {{else}}
                    {{item.value}}
                  {{/if}}
                </AuLinkExternal>
              {{/if}}
            </p>
          </span>
        {{/if}}
      {{/each}}
    </article>
  </div>
  <div class="au-u-1-1 au-u-1-3@medium">
    <AuHeading
      @level="5"
      @skin="5"
      class="au-u-padding-bottom-tiny"
    >Besluiten</AuHeading>
    {{! Decisions }}
    <article
      class="au-u-background-gray-100 au-u-padding au-u-flex au-u-flex--column au-o-grid__item"
    >
      {{#each @data as |item|}}
        {{#if (eq item.type "Besluiten")}}
          <span class="au-u-flex au-u-flex--column">
            <p class="au-u-medium">{{item.label}}</p>
            <p class="au-u-h2">
              {{#if @isLoading}}
                <AuLoader @hideMessage={{true}}>Aan het laden</AuLoader>
              {{else}}
                <AuLinkExternal
                  @disabled={{not item.url}}
                  href={{item.url}}
                  class="au-u-h3 {{unless item.url 'no-link'}}"
                >
                  {{#if (eq item.valueType "number")}}
                    {{format-number item.value 0}}
                  {{else if (eq item.valueType "date")}}
                    {{date-format item.value}}
                  {{else}}
                    {{item.value}}
                  {{/if}}
                </AuLinkExternal>
              {{/if}}
            </p>
          </span>
        {{/if}}
      {{/each}}
    </article>

    {{! Decisions per bestuursorgaan }}
    <AuHeading
      @level="5"
      @skin="5"
      class="au-u-padding-top-small au-u-padding-bottom-tiny"
    >Besluiten per orgaan</AuHeading>
    <article
      class="au-u-background-gray-100 au-u-padding au-u-flex au-u-flex--column au-o-grid__item"
    >
      {{#each @data as |item|}}
        {{#if (eq item.type "Besluiten per orgaan")}}
          <span class="au-u-flex au-u-flex--column">
            <p class="au-u-medium">{{item.label}}</p>
            <p class="au-u-h2">
              {{#if @isLoading}}
                <AuLoader @hideMessage={{true}}>Aan het laden</AuLoader>
              {{else}}
                <AuLinkExternal
                  @disabled={{not item.url}}
                  href={{item.url}}
                  class="au-u-h3 {{unless item.url 'no-link'}}"
                >
                  {{#if (eq item.valueType "number")}}
                    {{format-number item.value 0}}
                  {{else if (eq item.valueType "date")}}
                    {{date-format item.value}}
                  {{else}}
                    {{item.value}}
                  {{/if}}
                </AuLinkExternal>
              {{/if}}
            </p>
          </span>
        {{/if}}
      {{/each}}
    </article>
  </div>
  <div class="au-u-1-1 au-u-1-3@medium">
    <AuHeading
      @level="5"
      @skin="5"
      class="au-u-padding-bottom-tiny"
    >Agendapunten</AuHeading>
    {{! Agenda items }}
    <article
      class="au-u-background-gray-100 au-u-padding au-u-flex au-u-flex--column au-o-grid__item"
    >
      {{#each @data as |item|}}
        {{#if (eq item.type "Agendapunten")}}
          <span class="au-u-flex au-u-flex--column">
            <div class="au-u-flex au-u-flex--row au-u-flex--vertical-center">
              <p class="au-u-medium">{{item.label}}</p>
              {{#if item.tooltip}}
                <div class="tooltip-wrapper au-u-flex au-u-margin-left-tiny">
                  <AuIcon @icon="circle-question" @size="large" />
                  <EmberTooltip @text={{item.tooltip}} @side="top" />
                </div>
              {{/if}}
            </div>
            <p class="au-u-h2">
              {{#if @isLoading}}
                <AuLoader @hideMessage={{true}}>Aan het laden</AuLoader>
              {{else}}
                <AuLinkExternal
                  @disabled={{not item.url}}
                  href={{item.url}}
                  class="au-u-h3 {{unless item.url 'no-link'}}"
                >
                  {{#if (eq item.valueType "number")}}
                    {{format-number item.value 0}}
                  {{else if (eq item.valueType "date")}}
                    {{date-format item.value}}
                  {{else}}
                    {{item.value}}
                  {{/if}}
                </AuLinkExternal>
              {{/if}}
            </p>
          </span>
        {{/if}}
      {{/each}}
    </article>
  </div>
</section>