<div
  class="{{@class}} u-overflow-padding u-overflow-y-scroll u-overflow-divider"
  {{on "scroll" this.scroll}}
  tabindex="-1"
>
  <ul class="c-infinite-list">
    {{yield}}
  </ul>
  <div class="au-u-flex au-u-flex--center au-u-padding-top">
    {{#if @isLoading}}
      <AuLoader @hideMessage={{true}} />
    {{else if this.moreDataToLoad}}
      <AuButton
        @icon="add"
        @skin="secondary"
        @width="block"
        {{on "click" this.loadMore}}
      >Laad meer</AuButton>
    {{/if}}
  </div>
</div>