{{page-title "Mock login"}}

<StaticPage
  class="au-c-body-container au-c-body-container--scroll au-u-flex--between"
>
  <div class="au-o-layout au-o-region-large au-u-1-1">
    <MockLogin as |login|>
      {{#if login.isLoading}}
        <AuLoader class="au-u-margin-huge">Bestuurseenheden aan het laden</AuLoader>
      {{else}}
        {{#if login.errorMessage}}
          {{login.errorMessage}}
        {{/if}}
        <AuHeading @skin="4">Kies een bestuurseenheid om mee in te loggen.</AuHeading>
        <p class="au-u-margin-top-small au-u-margin-bottom">
          {{#let (uuid) as |id|}}
            <AuLabel for={{id}}>Bestuurseenheid zoeken</AuLabel>
            <input
              class="au-c-input au-c-input--block js-js-input-pattern-bound"
              id={{(uuid)}}
              placeholder="Aalst, Berchem, ..."
              value={{this.gemeente}}
              oninput={{perform this.updateSearch value="target.value"}}
            />
          {{/let}}
        </p>
        <ul>
          {{#if this.model.accounts.isRunning}}
            <AuLoader />
          {{else}}
            {{#each this.model.accounts.value as |account|}}
              <li>
                <div
                  class="au-o-box au-o-box--small au-c-card au-u-margin-bottom-small"
                >
                  <AuButton
                    @skin="link"
                    {{on "click" (perform this.callLogin login.login account)}}
                  >
                    <strong>
                      {{account.user.firstName}}
                      {{account.user.familyName}}
                    </strong>
                  </AuButton>
                </div>
              </li>
            {{/each}}
          {{/if}}
        </ul>
      {{/if}}
      {{#unless this.model.accounts.isRunning}}
        <div class="au-u-padding-bottom">
          <AuDataTableNumberPagination
            @page={{this.page}}
            @size={{this.size}}
            @nbOfItems={{this.model.accounts.value.length}}
            @total={{this.model.accounts.value.meta.count}}
            @links={{this.model.accounts.value.meta.pagination}}
          />
        </div>
      {{/unless}}
    </MockLogin>
  </div>
</StaticPage>